body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar {
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-size: 5rem;
    color: white;
    margin: 0;
}

.logo h2 {
    font-size: 1.5rem;
    margin: 0;
}

.social-links {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.social-links img {
    width: 24px;
    height: 24px;
}

.language-toggle,
.theme-toggle {
    margin: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-bottom: 42px;
}

.about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.info {
    max-width: 600px;
    text-align: center;
}

.skills span {
    display: inline-block;
    background-color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.latest {
    display: grid;
    gap: 40px;
    grid-template-columns: 3fr;
}

.latest-article,
.latest-project {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.card {
    background-color: #1e1e1e;
    padding: -1px;
    border-radius: 10px;
    text-align: center;
}

.card h4 {
    margin: 10px 0;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
    }

    .content {
        flex-grow: 1;
        padding: 20px;
    }

    .about {
        flex-direction: row;
        text-align: left;
    }

    .latest {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .latest {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
