body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%; 
    max-width: 1200px;        /* Limita a largura máxima do contêiner */
    margin: 0 auto; 
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.info {
    max-width: 600px;
    text-align: center;
}

.skills span {
    display: inline-block;
    background-color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.latest {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.latest-article,
.latest-project {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.card {
    background-color: #1e1e1e;
    padding: 20px; /* Aumenta o padding do card */
    border-radius: 10px;
    text-align: center;
}

.card h4 {
    margin: 10px 0;
}

.card img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço do elemento pai */
    border-radius: 5px;
}

.cv-section {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.cv-section h2 {
    margin-bottom: 10px;
}

.cv-section ol {
    padding-left: 20px;
}

.cv-section li {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .container {
        width: 90%; /* Aumenta a largura da container */
    }

    .content {
        flex-grow: 1;
        padding: 20px;
    }

    .about {
        flex-direction: row;
        text-align: left;
    }

    .latest {
        grid-template-columns: repeat(2, 1fr); /* Ajuste para duas colunas */
    }

    .latest-article,
    .latest-project {
        padding: 30px; /* Aumenta o padding dos cards */
    }

    .card img {
        height: 300px; /* Aumenta a altura da imagem */
    }
}

@media (min-width: 1024px) {
    .latest {
        grid-template-columns: repeat(2, 1fr); /* Ajuste para duas colunas */
    }
}
